.input--text {
    font-family: $font-din;
    font-size: $milli-size;
    color: $color-black;
    display: block;
    border-bottom: 2px solid rgba($color-grey, 0.1);
    width: 100%;
    padding: $su/2 0;
    margin: 0;

    &:focus {
        border-color: $color-golden;
    }
}

    .input--center {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }





.form--inline {

}

    .form--inline__input,
    .form--inline__button {
        width: span(1,1);
        line-height: 1;
        padding-top: $su;
        padding-bottom: $su;
    }

    .form--inline__input {
        margin-bottom: $su;
    }
