// ^ Images
// --------

.image-holder {
    height: 0;
    overflow: hidden;
    // padding-bottom: 56.25%;
    padding-bottom: 66.666%;
    margin-bottom: $su*1.5;
    background: $color-grey-light;

    @include mq(min-palm) {
        margin-bottom: $su*2;
    }

    @include mq(min-lap) {
        margin-bottom: $su*4;
    }
}

    .image-holder__image {
        line-height: 0;
    }
