.page--dark {
    background: $color-black;
    color: white;

    .text--subtle {
        color: rgba(white, 0.4);
    }
}

$page-margin-mobile: 4.25%;
$page-margin-desktop: 10%;

.page-intro {
    background: $color-black;
    color: rgba(#fff, 0.4);
}

    .page-intro__branding {
        text-align: center;
        padding: $su*4 $page-margin-mobile $su*6;

        @include mq(min-lap) {
            padding-top: $su*5;
            padding-bottom: $su*7.5;
        }

        @include mq(min-portable-lg) {
            padding-top: $su*6;
            padding-bottom: $su*9;
        }
    }


.page-content,
.page-footer {
    padding-left: $page-margin-mobile;
    padding-right: $page-margin-mobile;
    margin: 0 auto;

    @include mq(min-portable) {
        padding-left: $page-margin-desktop;
        padding-right: $page-margin-desktop;
    }
}


.page-content {
    margin-top: -$su*2;

    @include mq(min-lap) {
        margin-top: -$su*2.5;
    }

    @include mq(min-portable-lg) {
        margin-top: -$su*3;
    }
}

    .section-content {
        padding-left: $page-margin-mobile;
        padding-right: $page-margin-mobile;
        margin-bottom: $su*2.5;

        @include mq(min-palm) {
            padding-left: span(0.5,6);
            padding-right: span(0.5,6);
            margin-bottom: $su*3;
        }

        @include mq(min-lap) {
            margin-bottom: $su*6;
            overflow: hidden;
            @include grid_container();
        }

        @include mq(min-portable-lg) {
            padding-left: span(1,6);
            padding-right: span(1,6);
            &, h4 {
                font-size: $zeta-size;
            }
        }
    }

        .section-content__title,
        .section-content__text {
            @include mq(min-lap) {
                float: left;
                width: span(1,2);
                @include pad_column();
            }
        }


    .section--download {
        margin-top: $su*2;

        @include mq(min-lap) {
            margin-top: $su*4;
        }

        @include mq(min-portable-lg) {
            margin-top: $su*6;
        }
    }


.page-footer {
    padding-bottom: $su*6;
}

    .page-footer__wrapper {
        padding-top: $su*1.5;
        border-top: rgba($color-grey, 0.1) 1px solid;

        @include mq(min-palm) {
            display: flex;
        }
    }

        .page-footer__left,
        .page-footer__right {
            margin-bottom: $su*1.5;

            @include mq(min-palm) {
                flex-grow: 1;
                vertical-align: top;
            }
        }

        .page-footer__left {
            @include mq(min-palm) {
                width: span(3,4);
                padding-right: $su*2;
            }
        }

        .page-footer__right {
            p { margin-bottom: $su/2; }

            @include mq(min-palm) {
                width: span(1,4);
            }
        }




.page-small {
    padding-left: $page-margin-mobile*2;
    padding-right: $page-margin-mobile*2;
    padding-top: 4rem;
    padding-bottom: 4rem;
    max-width: 48rem;
    margin: 0 auto;
}
