@include font-face('DIN', '/assets/fonts/din-regular');





// ^ Headings
// ----------

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-weight: normal;
    font-size: $milli-size;
}

h1, .h1, h2, .h2, h3, .h3 { margin-bottom: $su/2; }
h4, .h4, h5, .h5, h6, .h6 { margin-bottom: $su; }

h2, .h2 {
    font-size: $zeta-size;

    @include mq(min-palm) {
        font-size: $epsilon-size;
    }

    @include mq(min-portable) {
        font-size: $gamma-size;
        letter-spacing: 0.2em;
    }
}

h4, .h4 { color: $color-golden; }
h5, .h5 { color: $color-twilight; }
h6, .h6 { color: $color-grey; }

.page--dark h6, .page--dark .h6 { color: rgba(white, 0.4); }





// ^ Inline text
// -------------

p {
    margin-bottom: $su;
}

// Style text like the Rizon app
.text--rizon {
    text-transform: uppercase;
    letter-spacing: 0.15em;
}

// Subtle text
.text--subtle {
    color: $color-grey;
    text-transform: none;
    letter-spacing: 0;
    font-size: 1rem;
}

.text--center {
    text-align: center;
}





// ^ Links
// ---------

a {
    color: $color-golden;
    border-bottom: 2px solid transparent;
    &:hover { border-color: $color-golden; }
}

.link--subtle {
    color: $color-grey;
    border: none;
    &:hover { color: $color-golden; }
}

.link--subtle--white {
    color: rgba(white, 0.4);
    border: none;
    &:hover { color: $color-golden; }
}
